<h1>{{model.bracketName}}</h1> <a href="/#/brackets">Back to all brackets</a>
<br>

<div class="row">
  {{#each round in model.rounds}}
    <div class="col-sm-2">
      {{round.roundName}}
      {{#each game in round.games}}
      {{#each team in game.teams}}
        <br><p {{action 'advance' round team game}}>{{team.seed}} {{team.school}}</p>
      {{/each}}
      {{/each}}
    </div>
  {{/each}}
</div>
